@font-face{font-family:'my-mitra';
    src:
        url(BMitra.eot) format("embedded-opentype"),  /* .eot */
        url(BMitra.ttf) format("truetype"),  /* .ttf */
        url(BMitra.woff) format("woff")  /* .woff */
}


@font-face{font-family:'irsans-bold';
    src:url(https://linstit.pw/anki/BNazanin_bold.eot?) format("embedded-opentype"),url(https://linstit.pw/anki/BNazanin_bold.ttf) format("truetype"),url(https://linstit.pw/anki/BNazanin_bold.woff) format("woff"),url(https://linstit.pw/anki/BNazanin_bold.woff2) format("woff2")}
@font-face{font-family:'irsans';
    src:url(https://linstit.pw/anki/BNazanin.eot?) format("embedded-opentype"),url(https://linstit.pw/anki/BNazanin.ttf) format("truetype"),url(https://linstit.pw/anki/BNazanin.woff) format("woff"),url(https://linstit.pw/anki/BNazanin.woff2) format("woff2")}
    
    
@font-face{font-family:'naazanin';
    src:url(https://linstit.pw/anki/BNazanin.eot?) format("embedded-opentype"),url(https://linstit.pw/anki/BNazanin.ttf) format("truetype"),url(https://linstit.pw/anki/BNazanin.woff) format("woff"),url(https://linstit.pw/anki/BNazanin.woff2) format("woff2")}
