baseURL: "https://en.AYoonesi.ir/"
title: Alireza Yoonesi
paginate: 5
theme: PaperMod

publishDir: docs

enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false

googleAnalytics: UA-123-45

minify:
  disableXML: true
  minifyOutput: true

params:
  env: production # to enable google analytics, opengraph, twitter-cards and schema.
  title: Alireza Yoonesi
  description: "ExampleSite description"
  keywords: [Blog, Portfolio, Alireza Yoonesi, Python, Programming, Politics, Law, Private Law, War]
  author: Alireza Yoonesi
  # author: ["Me", "You"] # multiple authors
  images: ["<link or path of image for opengraph, twitter-cards>"]
  DateFormat: "January 2, 2006"
  defaultTheme: auto # dark, light
  disableThemeToggle: false

  ShowReadingTime: true
  ShowShareButtons: true
  ShowPostNavLinks: true
  ShowBreadCrumbs: true
  ShowCodeCopyButtons: false
  ShowWordCount: true
  ShowRssButtonInSectionTermList: true
  UseHugoToc: true
  disableSpecial1stPost: false
  disableScrollToTop: false
  comments: false
  hidemeta: false
  hideSummary: false
  showtoc: false
  tocopen: false

  assets:
    # disableHLJS: true # to disable highlight.js
    # disableFingerprinting: true
    favicon: "images/favicon.ico"
    favicon16x16: "<link / abs url>"
    favicon32x32: "<link / abs url>"
    apple_touch_icon: "<link / abs url>"
    safari_pinned_tab: "<link / abs url>"

  label:
    text: "Home"
    icon: /apple-touch-icon.png
    iconHeight: 35

  # profile-mode
  profileMode:
    enabled: true # needs to be explicitly set
    title: Alireza Yoonesi
    subtitle: "Researcher, Developer, Farmer, and part-time Writer | In English & Persian | Interested in Private Law, Aviation, Economics, Politics & Intl' Rel., History, AI, and Finance"
    imageUrl: "images/me.jpg"
    imageWidth: 220
    imageHeight: 220
    imageTitle: Alireza Yoonesi
    buttons:
      - name: Blog
        url: posts
      - name: Tags
        url: tags
      - name: Books
        url: tags/books

  # home-info mode
  homeInfoParams:
    Title: "Hi there \U0001F44B"
    Content: Welcome to my blog, where I write things

  socialIcons:
    - name: twitter
      url: "https://twitter.com/I_Instit"
    - name: stackoverflow
      url: "https://stackoverflow.com/users/19220842/ayoonesi"
    - name: github
      url: "https://github.com/AYoonesi"
    - name: linkedin
      url: "https://www.linkedin.com/in/AYoonesi/"
    - name: kaggle
      url: https://www.kaggle.com/ayoonesi

  analytics:
    google:
      SiteVerificationTag: "XYZabc"
    bing:
      SiteVerificationTag: "XYZabc"
    yandex:
      SiteVerificationTag: "XYZabc"

  cover:
    hidden: true # hide everywhere but not in structured data
    hiddenInList: true # hide on list pages and home
    hiddenInSingle: true # hide on single page

  editPost:
    URL: "https://github.com/AYoonesi/AYoonesi.github.io/content"
    Text: "Suggest Changes" # edit text
    appendFilePath: true # to append file path to Edit link

  # for search
  # https://fusejs.io/api/options.html
  fuseOpts:
    isCaseSensitive: false
    shouldSort: true
    location: 0
    distance: 1000
    threshold: 0.4
    minMatchCharLength: 0
    keys: ["title", "permalink", "summary", "content"]
menu:
  main:
    - identifier: about
      name: about
      url: /about/
      weight: 10
    - identifier: contact
      name: contact
      url: /contact/
      weight: 10
    - identifier: archives
      name: archives
      url: /archives/
      weight: 10
    - identifier: search
      name: search
      url: /search/
      weight: 20
    - identifier: google-dev
      name: google dev
      url: https://g.dev/AYoonesi
      weight: 30
    - identifier: certs
      name: certs
      url: https://en.ayoonesi.ir/cert/
      weight: 40
    
# Read: https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#using-hugos-syntax-highlighter-chroma
pygmentsUseClasses: true
markup:
  highlight:
    noClasses: false
    # anchorLineNos: true
    # codeFences: true
    # guessSyntax: true
    # lineNos: true
    # style: monokai