@font-face{font-family:'irsans-bold';
    src:url(../fonts/iransansweb_bold.eot?) format("embedded-opentype"),url(../fonts/iransansweb_bold.ttf) format("truetype"),url(../fonts/iransansweb_bold.woff) format("woff"),url(../fonts/iransansweb_bold.woff2) format("woff2")}
@font-face{font-family:'irsans';
    src:url(../fonts/iransansweb.eot?) format("embedded-opentype"),url(../fonts/iransansweb.ttf) format("truetype"),url(../fonts/iransansweb.woff) format("woff"),url(../fonts/iransansweb.woff2) format("woff2")}

a {
    font-family: irsans-bold;
}

a .post-title-link {
    font-family: irsans-bold;
}

.site-title {
    font-family: irsans-bold;
}

p {
    font-family: irsans;
    direction: rtl;
}

h1, h2, h3, h4, h5, h6 {
    font-family: irsans;
    direction: rtl;
}

div .post-body {
    font-family: irsans;
    direction: rtl;
}

body, span, time, li {
    font-family: irsans;
}

.posts-expand .post-meta {
    font-family: irsans;
}

.popup .search-popup .local-search-popup {
    direction: rtl;
}

.local-search-header .clearfix {
    direction: rtl;
}

.search-result-list {
    direction: rtl;
}

#local-search-input {
    direction: rtl;
    text-align: center;
}

.posts-collapse {
    direction: rtl;
}

.category-all {
    direction: rtl;
}

.site-description {
    /* direction: ltr; */
    font-size: 14px;
}