@font-face {
    font-family: iransans;
    src: url('../fonts/iransansweb.ttf') format('truetype');
}

@font-face {
    font-family: iransans-bold;
    src: url('../fonts/iransansweb_bold.ttf') format('truetype');
}

html, body, a {
    font-family: iransans;
}

a .post-title-link {
    font-family: iransans-bold;
}