{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title">
      {{ .Title }}
      {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
      {{- partial "translation_list.html" . -}}
      {{- partial "edit_post.html" . -}}
      {{- partial "post_canonical.html" . -}}
    </div>
    {{- end }}
  </header>
  {{- $isHidden := .Params.cover.hidden | default site.Params.cover.hiddenInSingle | default site.Params.cover.hidden }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}

  {{- if .Content }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  <footer class="post-footer">
    <style>
          .float-container {
          /* border: 3px solid #fff; */
          padding: 20px;
      }

      .float-child {
          /* width: 50%; */
          float: left;
          padding: 8px;
          background: var(--code-bg);
        border: 1px solid var(--border);
          /* border: 2px solid red; */
      } 
    </style>

    <hr/>
    <!-- Text Section -->
    <div class="text-section" style="margin-bottom: 30px; text-align: center;">
      <h2 style="font-size: 32px; color: #1C2833; font-weight: 700; letter-spacing: 1px; margin: 0; line-height: 1.2;">
        Convenient Access at Your Fingertips
      </h2>
      <p style="font-size: 18px; color: #5D6D7E; margin-top: 15px; max-width: 600px; line-height: 1.6; margin-left: auto; margin-right: auto;text-align: justify;">
        You can also conveniently access this article by scanning the QR code below. Simply point your smartphone camera at the code, and you'll be instantly directed to the content, ensuring a seamless reading experience on any device.
      </p>
    </div>
    
    <!-- QR Code Section -->
    <div class="paginav" style="display: flex; justify-content: center; align-items: center;">
      <div class="float-child">
        <div class="blue" style="padding: 12px; background-color: #F7F9F9; border-radius: 12px; box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.08);">
          <img src="https://api.qrserver.com/v1/create-qr-code/?data={{ .Page.Permalink }}" alt="QR Code" style="width: 160px; height: 160px;">
        </div>
      </div>
    </div>
    


    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    <ul class="post-tags">
      {{- range ($.GetTerms $tags) }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
    {{- if (and site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
    {{- end }}
  </footer>

  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>

{{- end }}{{/* end main */}}
